.lando-container {
  display: flex;
  overflow: hidden;
  gap: 2px;
  line-height: 1;

  .lando-styles {
    text-shadow: 0 1.2em 0;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  }

  &:hover .lando-styles {
    transform: translateY(-100%);
  }
}
