@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, dark;
}

::view-transition-old(root) {
  animation: 200ms ease both slide-out;
}

::view-transition-new(root) {
  animation: 200ms ease both slide-in;
}

@media (pointer: coarse) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
  }
}

[data-theme="dark"] {
  --color-primary: #D4AF37;
  --color-secondary: #C5A028;
  --color-tertiary: #282A31;
  --color-accent-content: #CDC5B1;
  --color-info-content: #948E7B;
  --color-base-100: #0B0E14;
  --color-base-200: #080B10;
  --color-base-300: #05070C;
  --box-shadow-100: 0 0 5px 5px color-mix(in srgb, var(--color-secondary) 35%, transparent);

}

.bg-tertiary-100 {
  background-color: var(--color-tertiary);
}

.bg-tertiary-200 {
  background-color: #1E2026;
}

.bg-tertiary-300 {
  background-color: #14161B;
}
